 <launch>
  <node pkg="frame_grabber_node" type="frame_grabber.py" name="frame_grabber_node" />
  <node pkg="image_unwarp" type="image_unwarp" name="image_unwarp" />
  <node pkg="vision_control" type="vision_control_script.py" name="vision_control" />
  <node pkg="flagmaster" type="flagmaster_script.py" name="flagmaster" />
  <node pkg="lane_detection" type="lines.py" name="lane_detection" />
</launch>
