 <launch>
  <node pkg="frame_grabber_node" type="frame_grabber.py" name="frame_grabber_node" />
  <node pkg="image_unwarp" type="image_unwarp" name="image_unwarp" />
  <!--<node pkg="image_obstacle_processor" type="obstacle_processor.py" name="obstacle_processor"/>-->
  <node pkg="lanelord" type="ll_wtf.py" name="lanelord" />
</launch>
