<launch>
    <node pkg="vectornav" type="vn200_node" name="vectornav_vn200" />
    <node pkg="vectornav" type="vn_sensor_msgs.py" name="vectornav_data_convert" />
    <node pkg="tf" type="static_transform_publisher" name="imu_base_tf" args="0 0 0 0 0 0 base_footprint LLA 1000" />
    <node pkg="urg_node" type="urg_node" name="short_range_laser">
        <param name="angle_min" value="-1.571" />
        <param name="angle_max" value="1.571" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="laser_base_tf" args=".553 .114 .342 0 0 0 base_footprint laser 1000" />
    <node pkg="segway_rmp" type="segway_rmp_node" name="segway" args="_serial_port:=/dev/ttyUSB1" />
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="kalman_filter">
        <remap to="segway/odom" from="odom" />
        <remap to="Imu" from="imu_data" />
        <param name="sensor_timeout" value="1.0" />
        <param name="odom_used" value="true" />
        <param name="imu_used" value="true" />
        <param name="freq" value="40" />
        <param name="output_frame" value="odom" />
    </node>
    <node pkg="gmapping" type="slam_gmapping" name="mapping">
        <param name="odom_frame" value="odom" />
    </node>
</launch>
